

/* https://vuejs.org/v2/guide/transitions.html */

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

#student-table {
    max-height: 500px;
    overflow: scroll;
}
.present-true{
    color: aqua;
    font-weight: bold;
    font-style: italic;
    background-color: darkgrey;
}
.present-false{
    color: firebrick;
    font-weight: bold;
    background-color: dimgray;
}